<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <section class="h-70 bg-dark">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-2">
          <form action="do_login" method="post">
          <div class="row g-0 justify-content-center">
            <div class="col-xl-4 d-none d-xl-block mt-1 mb-1">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid "
                style="border-radius:1%;" />
            </div>

            <div class="col-xl-5">
              <div class="card-body p-md-4 text-black">
                <h3 class="mb-4 text-uppercase">Student login form</h3>
                    <span class="text-danger">{{err}}</span>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example97" class="form-control form-control-lg"name="Emailid" />
                  <label class="form-label" for="form3Example97">Email ID</label>
                </div>

                 <div class="form-outline mb-4">
                  <input type="password" id="form3Example9" class="form-control form-control-lg" name="Password"/>
                  <label class="form-label" for="form3Example9">Password</label>
                </div>
                
                <div class="d-flex justify-content-around pt-3">
        
                  <button type="button" class="btn btn-dark btn-lg"><a href="reg"    class="text-white">New register</a></button>                      
                  
                    <button type="Submit" class="btn btn-success btn-lg ms-2">Login</button>
                  
                  <button type="button" class="btn btn-dark btn-lg"><a href="viewuser" class="text-white">View All User</a></button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>